<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<title>
  <% if (locals.title) { %>
  <%= title %>
  <% } %>
</title>
<base href="/">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
<link href="favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="styles.88e8ed72def203d71f0e.css"></head>