<!doctype html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <app-root class="dark-theme"></app-root>
    <script src="runtime-es2015.925362b44649c1b8715d.js" type="module"></script><script src="runtime-es5.925362b44649c1b8715d.js" nomodule defer></script><script src="polyfills-es5.442888a1903c03759911.js" nomodule defer></script><script src="polyfills-es2015.95a8de601a6a5816a882.js" type="module"></script><script src="main-es2015.8586f0cddf08388ce1a3.js" type="module"></script><script src="main-es5.8586f0cddf08388ce1a3.js" nomodule defer></script>
</body>

</html>