<h2 mat-dialog-title>Edit</h2>
<oz-alert *ngIf="error != null" [value]="error"></oz-alert>
<mat-dialog-content>

    <form [formGroup]="form">
        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <label>
                    <input autocomplete="off" formControlName="name" matInput placeholder="Name">
                </label>
                <mat-error *ngIf="form.controls.name.hasError('required')">required</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field fxFlex="1 1 100%">
                <label>
                    <textarea autocomplete="off" formControlName="description" matInput
                        placeholder="Description"></textarea>
                </label>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-end">
    <button (click)="close()" class="mat-raised-button" type="button">Close</button>
    <button (click)="save()" [disabled]="working" class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>